@font-face {
  font-family: "idroid";
  src: url("pacote-projeto-d010/fontes/idroid.otf") format("opentype");
}

body {
  background-color: rgb(154, 233, 154);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
  background-image: linear-gradient(to top, #175032, #1a5c37, #288b54, #2ea764);
  padding: 20px;
  text-align: center;
}

header > h1 {
  color: white;
}

header > p {
  color: lightgray;
}

nav > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

nav > a:hover {
  background-image: linear-gradient(#1a5c37, #288b54);
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.5);
}

main {
  min-width: 300px;
  max-width: 1000px;
  background-color: white;
  padding: 20px;
  margin: auto;
  box-shadow: 6px 0px 10px 0px rgba(0, 0, 0, 0.274);
  border-radius: 0 0 20px 20px;
}

h2, .android {
  font-family: "idroid";
  color: rgb(0, 85, 0);
}

.android {
  background-image: linear-gradient(to right, rgb(154, 252, 154), white);
}

.marcador {
  background-color: lightgreen;
  text-decoration: none;
  color: green;
}

#video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(8, 85, 8);
  padding: 20px;
}

#video iframe {
  width: 100%;
  max-width: 760px;
  aspect-ratio: 16 / 9;
  height: auto;
}

picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

strong {
  color: green;
}

.extra {
  background-color: #8cdfb185;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 6px 0px 10px 0px rgba(0, 0, 0, 0.274);
}

.extra > h3 {
  background-color: #288b54;
  color: white;
  padding: 10px;
  margin: -10px -10px 10px -10px;
  border-radius: 15px 15px 0 0;
}

.lista {
  display: flex;
  font-weight: bold;
  gap: 50px;
}

.lista ul {
  list-style-type: none;
  padding: 0;
}

.link-externo {
  text-decoration: none;
}

.conclusao {
  text-indent: 40px;
}

footer {
  background-color: rgb(8, 85, 8);
  color: white;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

footer > em {
  color: rgba(255, 255, 255, 0.493);
}