body{
    background-color: #F9F6F0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100;
}
h1, h2, h3, p, blockquote{
    color: #4A3E3D;
    text-align: center;
}
ol, li{
    color: #4A3E3D;
    display: table;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
}
